@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@theme {
  --color-fd-background: hsl(0, 0%, 96%);
  --color-fd-foreground: hsl(0, 0%, 3.9%);
  --color-fd-muted: hsl(0, 0%, 96.1%);
  --color-fd-muted-foreground: hsl(0, 0%, 45.1%);
  --color-fd-popover: hsl(0, 0%, 98%);
  --color-fd-popover-foreground: hsl(0, 0%, 15.1%);
  --color-fd-card: hsl(0, 0%, 94.7%);
  --color-fd-card-foreground: hsl(0, 0%, 3.9%);
  --color-fd-border: hsla(0, 0%, 80%, 50%);
  --color-fd-primary: hsl(0, 0%, 9%);
  --color-fd-primary-foreground: hsl(0, 0%, 98%);
  --color-fd-secondary: hsl(0, 0%, 93.1%);
  --color-fd-secondary-foreground: hsl(0, 0%, 9%);
  --color-fd-accent: hsl(32, 100%, 50%);
  --color-fd-accent-foreground: hsl(0, 0%, 3.9%);
  --color-fd-ring: hsl(32, 100%, 50%);
}

.dark {
  --color-fd-background: hsl(0, 0%, 3%);
  --color-fd-foreground: hsl(0, 0%, 94%);
  --color-fd-muted: hsl(0, 0%, 20%);
  --color-fd-muted-foreground: hsla(0, 0%, 75%, 0.9);
  --color-fd-popover: hsl(0, 0%, 8%);
  --color-fd-popover-foreground: hsl(0, 0%, 92%);
  --color-fd-card: hsl(0, 0%, 7.5%);
  --color-fd-card-foreground: hsl(0, 0%, 95%);
  --color-fd-border: hsla(0, 0%, 40%, 20%);
  --color-fd-primary: hsl(0, 0%, 95%);
  --color-fd-primary-foreground: hsl(0, 0%, 6%);
  --color-fd-secondary: hsl(0, 0%, 18%);
  --color-fd-secondary-foreground: hsl(0, 0%, 92%);
  --color-fd-accent: hsl(32, 100%, 50%);
  --color-fd-accent-foreground: hsl(0, 0%, 94%);
  --color-fd-ring: hsl(32, 100%, 50%);
}
